<div class="header">
	<div class="container">
		<h1>
			{{#link-to 'index' }}Tic-Tac-Toe Game{{/link-to}}
		</h1>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				{{outlet}}
			</div>
		</div>
	</div>
</div>

<div class="footer">

</div>

{{outlet modal}}