<div class="main-menu-btn">
	{{#link-to 'game' classNames="btn btn-primary btn-lg btn-block"}}New Game{{/link-to}}
</div>
<div class="main-menu-btn">
	<a href="#" class="btn btn-primary btn-lg btn-block" {{action 'showModal' 'game-results-modal' model}}>Game Results</a>
</div>